
<div class="container">
<form name="EditLog">
<fieldset>

<legend>Edit Log</legend>
<div class="formrow">
<label>Date:</label>
<input type="date" ng-model="form.date"/>
</div>
<div class="formrow">
<label>Time:</label>
<input type="time" ng-model="form.time"/>
</div>
<div class="formrow">
<label>Parameter:</label>
<input type="text" ng-model="form.parameter">
</div>
<div class="formrow">
<label>Value:</label>
<input type="text" required="required" ng-model="form.value" />
</div>
<div class="formrow">
<label>Notes:</label>
<textarea ng-model="form.notes"></textarea>
</div>
<div class="formrow">
<button ng-click="cancel()" class="cancel">Reset</button>
<button ng-click="update()" class="last">Update</button>
</div>
</fieldset>
</form>
</div>
